$theme_body_background: #fffcf0;
$theme_profile_picture_placeholder: #c4c4c4;

.theme_default {

    --color-dark-blue: #001832;
    --color-grey-blue: #082649;
    --color-blue: #054B9F;
    --color-light-blue: #1979EC;
    --color-grey: #A9C3E3;
    --color-white: #FFFFFF;
    --color-yellow: #FCB614;
    --color-pink: #ED4497;


    --color-primary: #003B72;
    --color-on-primary: #201c00;

    --color-primary-container: #fff9e1;
    --color-on-primary-container: #201c00;

    --color-secondary: #1979ec;
    --color-on-secondary: #ffffff;

    --color-secondary-container: #f3f3f3;
    --color-on-secondary-container: #002911;

    --color-default-secondary: #80b697;
    --color-hover-secondary: #409261;
    --color-pressed-secondary: #004a1f;

    --color-tertiary: #ee2e3c;
    --color-quaternary: #375699;

    --color-error: #e91e63;
    --color-on-error: #ffffff;
    --color-error-container: #fce4ec;
    --color-on-error-container: #ba1658;

    --color-success: #41a447;
    --color-on-success: #ffffff;
    --color-success-container: #c8e6c9;
    --color-on-success-container: #2d7330;

    --color-background: #ffffff;
    --color-on-background: #1d1c16;
    --color-surface: #fffbe9;
    --color-on-surface: #1d1c16;
    --color-surface-disabled: #f5f5f5;
    --color-on-surface-disabled: #757575;

    --color-surface-variant: #fffcf0;
    --color-on-surface-variant: #4a4739;
    --color-outline: #7b7768;

    --color-transparent: transparent;
}
