i.ic {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	mask-size: contain;
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	background-color: #fff;

	&.ic_ {
		&x2 {
			width: 2rem;
			height: 2rem;
		}
		&x3 {
			width: 3rem;
			height: 3rem;
		}
	}
}